<div class="container py-4">

  <h1 class="text-center mb-4">Angular Session 1</h1>

  <div class="d-flex justify-content-center gap-2 mb-4 flex-wrap">
    <button class="btn btn-outline-primary" (click)="current='task1'">Task 1</button>
    <button class="btn btn-outline-primary" (click)="current='task2'">Task 2</button>
    <button class="btn btn-outline-primary" (click)="current='task3'">Task 3</button>
    <button class="btn btn-outline-primary" (click)="current='task4'">Task 4</button>
  </div>

  <div class="row justify-content-center">

    <div class="col-md-6" *ngIf="current==='task1'">
      <app-task1-profile></app-task1-profile>
    </div>

    <div class="col-md-6" *ngIf="current==='task2'">
      <app-task2-ngfor></app-task2-ngfor>
    </div>

    <div class="col-md-8" *ngIf="current==='task3'">
      <app-task3-stores></app-task3-stores>
    </div>

    <div class="col-md-8" *ngIf="current==='task4'">
      <app-task4-toggle></app-task4-toggle>
    </div>

   

  </div>

</div>